---
export const prerender = true;
import { getCollection } from 'astro:content';

import BlogLayout from '@/layouts/BlogLayout.astro';

const snippets = (await getCollection('posts', (post) => post.data.postType === 'Snippets')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<BlogLayout>
    <div class="grow">
        <div class="breadcrumbs text-xs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li>Snippets</li>
            </ul>
        </div>
        <h1 class="text-4xl font-serif">Snippets</h1>
        <div class="prose mt-8">
            <ul>
                {snippets.map(post => (
                    <li>
                        <a href={`${post.id}`}>
                            {post.data.title}
                        </a>
                        <div class="text-xs italic">
                            {new Date(post.data.pubDate).toDateString()}
                        </div>
                        <div class="text-sm">
                            {post.data.summary}
                        </div>
                        <span class="badge badge-sm badge-ghost rounded-xs">Snippets</span>
                    </li>
                ))}
            </ul>
        </div>
    </div>
</BlogLayout>

