---
export const prerender = true;

import BlogLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

const news = (await getCollection('posts', (post) => post.data.postType === 'News')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BlogLayout>
    <div>
        <div class="breadcrumbs text-sm">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li>News</li>
            </ul>
        </div>
        <h1 class="text-4xl font-serif">News</h1>
        <div class="prose mt-8">
            <ul>
                {news.map(post => (
                    <li>
                        <a href={`${post.id}`}>
                            {post.data.title}
                        </a>
                        <div class="text-xs italic">
                            {new Date(post.data.pubDate).toDateString()}
                        </div>
                        <div class="text-sm">
                            {post.data.summary}
                        </div>
                        <span class="badge badge-sm badge-ghost rounded-xs">News</span>
                    </li>
                ))}
            </ul>
        </div>
    </div>
</BlogLayout>

