---
import PageSection from "./PageSection.astro"
import PageSectionHeader from "./PageSectionHeader.astro"
---
<PageSection classes="bg-base-100" id="about">
    <PageSectionHeader class="text-2xl">Blogs</PageSectionHeader>
    <div class="max-w-md mx-auto">
        <em class="block text-center">- TBD -</em>
    </div>
</PageSection>