---
import {header as links} from "@/data/navLinks"
import DownArrow from "@/assets/icons/arrow_back_2.svg"
import MyLogo from "@/assets/icons/mylogo003.svg"
---
<header class="bg-surface sticky top-0 z-50 shadow-sm">
    <div class="mb-8 shadow-lg dark:shadow-2xl bg-base-200 dark:bg-base-200 fixed top-0 z-1 w-full">
        <div class="navbar w-[min(1248px,100%)] m-[0_auto] min-h-auto">
            <div class="navbar-start flex-1/6">
                <a href="/" class="btn px-1 font-bold font-mono text-xl" title="Logo">
                    <MyLogo class="w-8 fill-primary dark:fill-base-content"/>
                </a>
            </div>
            <div class="navbar-end flex-5/6">
                <ul class="menu menu-horizontal px-1 py-0 hidden lg:flex gap-3">
                    {links.map(link => (
                        <li class="justify-center">
                            <a href={link.href} class=" text-xs font-semibold">{link.text}</a>
                        </li>
                    ))}
                    <li>
                        <a href="mailto:Lou Garcia<lgarciawebdev@outlook.com>?subject=Inquiry" class="btn btn-primary btn-sm font-semibold">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z" />
                            </svg>
                            Contact
                        </a>
                    </li>
                </ul>
                <!-- mobile menu -->
                <div class="drawer lg:hidden">
                    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content flex justify-end">
                        <!-- Page content here -->
                        <label for="my-drawer" class="btn btn-ghost drawer-button px-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                            </svg>
                        </label>
                    </div>
                    <div class="drawer-side">
                        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                        <ul class="menu bg-base-200 text-base-content min-h-full w-70 p-4 text-xl">
                            <li class="flex flex-row font-bold font-mono">
                                <a href="/"  class="w-full" title="Logo">
                                    <MyLogo class="w-8 fill-primary dark:fill-base-content"/>
                                </a>
                            </li>
                            {links.map(link => (
                                <li><a href={link.href}>{link.text}</a></li>
                            ))}
                            <li class="mt-8">
                                <a href="#contact" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z" />
                                    </svg>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>