---
import LinkedInIcon from "@/assets/icons/linkedin.svg"
---
<div class="hero min-h-[75dvh]">
    <div class="hero-content text-center">
        <div class="max-w-xl">
            <h1 class="text-3xl md:text-6xl font-serif text-shadow-lg ">
                Hi! I am <span class="block text-5xl md:text-6xl md:inline">Lou Garcia</span>
            </h1>
            <p class="pt-16 pb-8 max-w-xl mx-auto mb-4 prose text-pretty">
                Twenty years in, still curious as ever - a full-stack developer
                with love for open-source, a knack for crafting exceptional
                UI/UX, and the resourcefulness to find solutions even when
                they’re not obvious at first glance.
            </p>
            <div class="flex gap-4 justify-center">
                <a href="mailto:Lou Garcia<lgarciawebdev@outlook.com>?subject=Inquiry" class="btn btn-primary btn-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z" />
                    </svg>
                    Contact
                </a>
                <a href="https://www.linkedin.com/in/louanthonygarcia/" target="_blank" class="btn btn-soft btn-lg">
                    <LinkedInIcon width={24} height={24} />
                    LinkedIn
                </a>
            </div>
        </div>
    </div>
</div>