---
import SkillIconWrapper from "./SkillIconWrapper.astro"

import VscodeIcon from "@/assets/icons/vscode.svg"
import GithubDarkIcon from "@/assets/icons/github_dark.svg"
import GithubLightIcon from "@/assets/icons/github_light.svg"
import GitlabIcon from "@/assets/icons/gitlab.svg"
import GitIcon from "@/assets/icons/git.svg"
import PostmanIcon from "@/assets/icons/postman.svg"
import TypescriptIcon from "@/assets/icons/typescript.svg"
import LaravelDebugBarIcon from "../assets/icons/laravel_debugbar.png"
import MysqlIcon from "@/assets/icons/mysql.svg"
import MongoDBIcon from "@/assets/icons/mongodb.svg"
import DockerIcon from "@/assets/icons/docker.svg"
import { Image } from "astro:assets"
---
<h4 class="text-xl text-center mb-4">Tools</h4>
<div class="flex flex-row gap-4 max-w-min mx-auto mb-4">
    <SkillIconWrapper title="Visual Studio Code">
        <VscodeIcon width={28} height={28} />
    </SkillIconWrapper>
    <SkillIconWrapper title="Github">
        <GithubDarkIcon width={28} height={28} class="hidden dark:block" />
        <GithubLightIcon width={28} height={28} class="block dark:hidden" />
    </SkillIconWrapper>
    <SkillIconWrapper title="Gitlab">
        <GitlabIcon width={28} height={28} />
    </SkillIconWrapper>
    <SkillIconWrapper title="Git">
        <GitIcon width={28} height={28} />
    </SkillIconWrapper>
</div>
<div class="flex flex-row gap-4 max-w-min mx-auto mb-4">
    <SkillIconWrapper title="Postman">
        <PostmanIcon width={28} height={28} />
    </SkillIconWrapper>
    <SkillIconWrapper title="MySQL">
        <MysqlIcon width={28} height={28} />
    </SkillIconWrapper>
    <SkillIconWrapper title="Typescript">
        <TypescriptIcon width={28} height={28} />
    </SkillIconWrapper>
    <SkillIconWrapper title="Laravel Debugbar">
        <div class="bg-orange-600 p-1 rounded-sm">
            <Image src={LaravelDebugBarIcon} alt="Laravel Debugbar" width={32} height={32} />
        </div>
    </SkillIconWrapper>
</div>
<div class="flex flex-row gap-4 max-w-min mx-auto mb-4">
    <SkillIconWrapper title="Mongo DB">
        <MongoDBIcon width={28} height={28} />
    </SkillIconWrapper>
    <SkillIconWrapper title="Docker">
        <DockerIcon width={28} height={28} />
    </SkillIconWrapper>
</div>