---
const {title} = Astro.props
---
<div class="avatar tooltip w-max grayscale hover:grayscale-0 active:grayscale-0" data-tip={title}>
    <div class="bg-base-100 p-2 border card">
        <slot />
    </div>
</div>