---
const {title} = Astro.props
---
<div class="avatar tooltip w-max grayscale hover:grayscale-0 active:grayscale-0" data-tip={title}>
    <div class="p-2 shadow-0 btn btn-md btn-ghost shadow">
        <slot />
    </div>
</div>