---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BackToTopIcon from "@/assets/icons/keyboard_arrow_up.svg"
---
<body class="h-[100dvh]">
    <div class="h-[100%] grid grid-rows-[auto_1fr_auto]">
        <Header />
        <main class="mt-[var(--header-offset)]">
            <slot />
        </main>
        <Footer />
    </div>
    <a href="#" class="btn btn-circle fixed bottom-2 right-2 bg-secondary-content text-white opacity-100 lg:opacity-20 hover:opacity-100">
        <BackToTopIcon fill="currentColor" />
        <span class="sr-only">Back to top</span>
    </a>
</body>
<script>
const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
        if (entry.isIntersecting) {
            entry.target.classList.add('fade-in'); // Add Tailwind animation class
        }
    });
});

const animatedElements = document.querySelectorAll('.animate-on-scroll');
animatedElements.forEach((element) => {
    observer.observe(element);
});
</script>