---
import Footer from "@/components/Footer.astro";
---
<body class="h-dvh">
    <header class="shadow-lg dark:shadow-2xl bg-base-200 dark:bg-base-200 z-1 w-full">
        <div class="navbar w-[min(800px,100%)] m-[0_auto]">
            <div class="navbar-start flex-1/6">
                <a href="/" class="btn bg-base-300 hidden lg:flex">&lbrace;lg&rbrace;</a>
            </div>
        </div>
    </header>
    <slot />
    <Footer />
</body>